html
  head
    title= title
    style
      include style.css
   
  body
    h1= message
    p this is computer 
    h1 this is student 
    include article.md

    script
      include script.js